/* Resetting base styles */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("/static/font/Pretendard-Bold.woff2") format("woff2"),
    url("/static/font/Pretendard-Medium.woff2") format("woff2"),
    url("/static/font/Pretendard-Regular.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

blockquote,
dl,
dd,
figure {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

::-ms-input-placeholder {
  color: #999;
}

::placeholder {
  color: #999;
}
/* PrimeReact Styles */
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
